#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/black.jpg) no-repeat;
  background-size:cover;
  margin-top:65px;
}

#welcome {
  position: relative;
  width: 100%;
}
@media (max-width:991px) {
  #promo {
    padding:20px;
  }

}


#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.5);
  max-width:800px;
  margin:0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding:20px;
  }
}

.site-section {
  text-align:center;
  padding-bottom:70px;
}

#quote {
  background:url(../../assets/img/abstract.jpg) no-repeat;
  text-align:center;
  padding-top: 0px;
  padding-bottom:40px;
}

.site-section h1 {

  margin-bottom:30px;
  margin-top:60px;
}

#quote h1 {
  font-size: 40px;
}


#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

#quote p {
  color: grey;
  max-width:800px;
  max-height: 200px;
  font-size:20px;
  margin:0 auto;
}

#what .item {
  padding-top:36px;
}

#what .item p {
  font-size:17px;
}

#what .item h2 {
  font-size:23px;
  font-weight:normal;
  margin-bottom:20px;
  margin-top:13px;
}

#what .item i {
  font-size:40px;
  color:#8c8989;
}

.dark-section {
  background-color:#292c2f;
}

#logo1 {
  max-height:231px;
  max-width:100%;
}

#video-elem {
    position: absolute;
    background: no-repeat;
    top: 150;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    margin-bottom: 0px;
    padding-top: 100px;
    width: 100%;

}

#LOGOWHITE {
  max-height:42px;
  max-width:100%;
  display:inline-block;
}

a#logosquare.navbar-brand.navbar-link {
  padding-bottom:55px;
}

ul#navgroup.nav.navbar-nav.navbar-right {
  padding-top:16px;
}

#snake {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#mirador {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#geisha {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#alchemy {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#moonfire {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#seventies {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#beach {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#monk {
  max-height:500px;
  margin-left:auto;
  margin-right:auto;
}

#footerlogo {
  max-height:109px;
  margin-left:auto;
  margin-right:auto;
  padding-left:31px;
  padding-top:39px;
}

p#company.company-name {
  text-align:center;
}

img#circle {
  max-height:200px;
  margin-left:66px;
}

@media (max-width:767px) {
  img#circle {
    margin-left:26px;
    margin-bottom:32px;
  }
}

#carousel-1.carousel.slide {
  padding-top:30px;
}



#footerP {
  font-size:14px;
}


#mixcloud {
  padding-top: 40px;
  padding-bottom: 80px;
}

#extras {
  font-size:17px;
}
