body {
  font-family:Arial, Helvetica, sans-serif;
}

#logo {
  max-height:30px;
}

#logo2 {
  max-height:158px;
  max-width:100%;
}

#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/djings.jpg) no-repeat;
  background-size:cover;
  margin-top:65px;
}

@media (max-width:991px) {
  div.jumbotron {
    padding:20px;
  }
}

div.jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  div.jumbotron {
    padding:20px;
  }
}

i.glyphicon.glyphicon-adjust {
  font-size:50px;
}

div.dark-section {
  background-color:rgba(0,0,1,0.1);
}

.site-section {
  text-align:center;
  padding-bottom:70px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

#why.container.site-section {
}

#why p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

#why .design {
  padding-top:36px;
}

#why .design {
  font-size:45px;
}

#why h2 {
  font-weight:normal;
}

#why .design i {
  font-size:45px;
  color:rgb(1,1,1);
}

h3 {
  color:rgb(254,254,254);
}

div.col-md-6.col-md-push-6.item.text {
  text-align:center;
}

img {
  margin-left:auto;
  margin-right:auto;
  max-height:700px;
}

img {
  max-height:550px;
}

div#carousel-1.carousel.slide {
  background-color:rgba(255,255,255,0.90);
}

